Repository tenstorrent/tt-budabackend, changes with the owners that CODEOWNERS names for each.
All owners: @tzhou, @sjovic, @macimovic, @jnie, @rjakovljevic, @kmabee, @asaigal, @pjosipovic, @ppopovic, @rpavlovic, @mrakita, @snijjar, @imatosevic

compile fix: include required stdlib headers and use correct limits
  common/model/base_types.hpp
  model/tile.cpp
  src/pipegen2/lib/inc/device/perf_info_manager_internal.h
Owners: @rpavlovic, @mrakita

compile fix: eliminate duplicate template standard arguments
  common/model/tt_core.cpp
Owners: none

add compiler flags to suppress warnings breaking compilation
  Makefile
Owners: none

Makefile: fix a dangling quote
  Makefile
Owners: none

Makefile: add NOFW flag to disable building firmware
  Makefile
Owners: none

Makefile: replace check for ARM with check for (not x86)
  Makefile
Owners: none

compile fix: move operator<< overload to correct namespace for ADL
  loader/epoch_utils.hpp
Owners: @kmabee, @asaigal

wip: try to make RISC-V compile work
  common/tile_lib.cpp
  model/module.mk
  model/simd_tile_ops.cpp
  model/tilize_untilize_api/host_untilize.cpp
  model/tilize_untilize_api/tilize.cpp
  runtime/runtime_utils.cpp
Owners: @kmabee, @asaigal, @tzhou

compile fixes: bump umd
  .gitmodules
Owners: none

remove double-definition of tt_cxy_pair
  src/pipegen2/lib/inc/graph_creator/rational_graph/rational_graph_creator.h
Owners: @rpavlovic, @mrakita

compilation fix: add forgotten unordered_map header include
  src/pipegen2/lib/inc/device/soc_info.h
Owners: @rpavlovic, @mrakita

another forgotten cstdint include!
  perf_lib/op_model/sparse_matmul_params.hpp
Owners: none

add missing symlink to umd/device/architecture.h to device folder
  device/architecture.h
Owners: none

another missing symlink...
  device/xy_pair.h
Owners: none

trial: remove missing dep for dbd
  dbd/server/app/module.mk
Owners: none

restore & fix create-ethernet-map dependency
  dbd/server/app/module.mk
Owners: none

CODEOWNERS:

# CODEOWNERS file

netlist/tt_backend.*             @tzhou
netlist/tt_backend_api.*         @tzhou
netlist/tt_backend_api_types.*   @tzhou

perf_lib/op_model/op_model.*     @sjovic @macimovic
perf_lib/op_model/params/        @sjovic @macimovic
perf_lib/*                       @jnie

netlist/netlist_parser.*         @tzhou @rjakovljevic

runtime/                         @kmabee @asaigal @tzhou
loader/                          @kmabee @asaigal

ops/                             @pjosipovic @ppopovic

src/pipegen2/                    @rpavlovic @mrakita
src/blobgen2/                    @rpavlovic @mrakita

src/net2pipe/                    @snijjar @imatosevic
